<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="directoryPath" value="C:\test"/>
        <add key="employeeName" value="Moskal"/>
        <add key="linesCount" value="50"/>
        <add key="products" value="AAA,BBB,CCC,DDD,EEE,FFF,GGG,HHH"/>
        <add key="clientNames" value="Andrews,Davidson,Thompson,Eaton,Tucker,Atkinson,Wilcox"/>
    </appSettings>
</configuration>